<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div id="contentBox" class="row">
          <div id="column1" class="column" style="float: left; margin:0; width:33%;">
            {%- if site.posts.size > 0 -%}
	    <h2 class="post-list-heading"><a class="page-content" href="{{ "/blog/" | relative_url }}">Blog</a> </h2>
              <ul class="post-list">
                {%- for post in site.posts limit: 5 -%}
                <li>
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <span class="post-meta">{{ post.date | date: date_format }}</span>
                  <h2>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                      {{ post.title | escape }}
                    </a>
                  </h2>
                  {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                  {%- endif -%}
                </li>
                {%- endfor -%}
              </ul>

              <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
            {%- endif -%}
          </div>
          <div class="column" id="column2" style="float: left; margin:0; width:66%;>
            {{ content }}
          </div>  
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
